*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style-type: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
}
body {
	font-family: Rubik;
	font-style: 12px;
	color: #616161;
}
main {
	flex: 1 1 auto;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
[class*="__container"] {
	max-width: 1087px;
	margin: 0 auto;
	padding: 0px 15px;
}
/*! PC Adaptive */
@media (max-width: 1057px) {
	[class*="__container"] {
		max-width: 970px;
	}
}
/*! Tablet Adaptive */
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}
/*! Mobile Adaptive */
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}
/*! Mobile Small Adaptive */
@media (max-width: 479.98px) {
}

/*! Header */
.header {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 100;
}
.header__container {
	display: flex;
	min-height: 114px;
	align-items: center;
}

.header__logo {
	position: relative;
	z-index: 5;
}

.header__menu {
	flex: 1 1 auto;
}

.header__button {
	position: relative;
	z-index: 5;
	flex: 0 0 252px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
/*! Меню */
.menu {
	display: flex;
	justify-content: flex-end;
}
.menu__list {
	display: flex;
}

.menu__item {
	margin: 0px 40px 0px 0px;
}

.menu__link {
	font-family: "Raleway";
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
	line-height: calc(12 / 10 * 100%);
	color: #000000;
	letter-spacing: 1px;
	transition: all 0.3s ease 0s;
}
.menu__link:hover {
	text-decoration: underline;
}

.button {
	display: inline-block;
	font-family: "Raleway";
	font-weight: 800;
	font-size: 10px;
	line-height: calc(12 / 10 * 100%);
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fcfdfe;
	border-radius: 5px;
	padding: 14px 30px;
	background: #ec5863;
	transition: background-color 0.3s ease 0s;
}
.button:hover {
	background-color: #ee848b;
}
.button-blue {
	background: #4285f4;
}
.button-blue:hover {
	background: #6b9ef1;
}
@media (max-width: 991.98px) {
	.header__container {
		min-height: 80px;
	}
	.header__button {
		flex: 0 0 170px;
	}
	.menu__item {
		margin: 0px 20px 0px 0px;
	}
}
@media (max-width: 767.98px) {
	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #757575;
		padding: 90px 15px 30px 15px;
		transition: left 0.3s ease 0s;
	}
	.header:target .menu__body {
		left: 0;
	}
	.header:target .menu__body::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		height: 70px;
		width: 100%;
		background-color: #ffffff;
		box-sizing: border-box;
		box-shadow: -2px 2px 5px 4px #ffffff;
	}
	.menu__list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu__item {
		margin: 0px 0px 25px 0px;
	}
	.menu__item:last-child {
		margin: 0px 0px 25px 0px;
	}
	.menu__link {
		font-size: 20px;
	}

	.header__button .button {
		padding: 14px 20px;
	}
}
@media (max-width: 479.98px) {
	.header__logo {
		flex: 0 0 40px;
		overflow: hidden;
	}
}

/*! Бургер */
.icon-menu-close,
.icon-menu {
	display: none;
}
@media (max-width: 767.98px) {
	.icon-menu {
		display: flex;
		position: relative;
		flex: 0 0 30px;
		height: 18px;
		flex-direction: column;
		justify-content: space-between;
		margin: 0px 0px 0px 20px;
	}
	.icon-menu-close {
		margin: 0px 0px 0px 20px;
	}
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		background-color: #000000;
		height: 2px;
	}
	.icon-menu span {
		height: 2px;
		background-color: #000000;
	}
	.icon-menu-close {
		flex: 0 0 30px;
		height: 30px;
		position: relative;
	}

	.icon-menu-close::before,
	.icon-menu-close::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		background-color: #000000;
		height: 2px;
	}
	.icon-menu-close::before {
		transform: rotate(45deg);
	}
	.icon-menu-close::after {
		transform: rotate(-45deg);
	}
	.header:target .icon-menu {
		display: none;
	}
	.header:target .icon-menu-close {
		display: flex;
	}
}
/* ============================Текстовый блок==================================== */
/* .block-text {
} */
.block-text-center {
	text-align: center;
}
.block-text__title {
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	line-height: calc(55 / 44 * 100%);
	color: #000000;
}
.block-text__title:not(:last-child) {
	margin: 0px 0px 12px 0px;
}
.block-text__title span {
	color: #ec5863;
}
.block-text__title-blue span {
	color: #4285f4;
}

.block-text__text {
	font-size: 12px;
	line-height: calc(17 / 12 * 100%);
	letter-spacing: 1px;
	color: #616161;
}
.block-text__text-mw {
	max-width: 600px;
	margin: 0 auto;
}
.block-text__text:not(:last-child) {
	margin: 0px 0px 25px 0px;
}
.block-text__button {
	text-transform: uppercase;
}
@media (max-width: 767.98px) {
	.block-text__title {
		font-size: 34px;
	}
}
/* ============================Главная страница *health*==================================== */
.get-started {
	background-color: #fafbfd;
}

.get-started__container {
	padding: 150px 0px 50px 0px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}
.get-started__container::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	transform: translate(calc(100% - 252px), 0px);
	background: #ec5863;
	border-radius: 30px 0px 0px 30px;
	z-index: 0;
}

.get-started__content {
	flex: 0 1 48%;
	padding: 0px 20px 0px 20px;
}

.get-started__block-text {
	max-width: 410px;
}

.get-started__image {
	flex: 0 1 52%;
	position: relative;
}
.get-started__image img {
	width: 100%;
	z-index: 50;
}

.get-started__video {
	flex: 1 1 100%;
	padding: 0px 0px 0px 20px;
}

.video-get-started {
	display: inline-flex;
	align-items: center;
	margin: 60px 0px 0px 0px;
}

.video-get-started__icon {
	flex: 0 0 44px;
	margin: 0px 12px 0px 0px;
}

.video-get-started__title {
	font-size: 13px;
	line-height: calc(16 / 13 * 100%);
	letter-spacing: 1.5px;
	color: #b0b0b0;
}
.video-get-started__title:not(:last-child) {
	margin: 0px 0px 5px 0px;
}
.video-get-started__text {
	font-size: 9px;
	line-height: calc(11 / 9 * 100%);
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #000000;
}

@media (max-width: 991.98px) {
	.get-started__container::before {
		transform: translate(calc(100% - 185px), 0px);
		border-radius: 20px 0px 0px 20px;
	}
}
@media (max-width: 767.98px) {
	.get-started__container {
		padding: 100px 15px 30px 15px;
	}
	.get-started__container::before {
		display: none;
	}
	.get-started__content {
		flex: 1 1 auto;
	}
	.get-started__block-text {
		max-width: none;
		align-items: center;
	}
	.get-started__image {
		flex: 1 1 auto;
		text-align: center;
		padding: 30px 0px 30px 0px;
	}
	.video-get-started {
		margin: 0px 0px 0px 0px;
	}
}

/* ============================Второй экран *stay safe*==================================== */

.stay-safe {
	padding: 80px 0px 80px 0px;
}
.stay-safe__container {
	display: flex;
	align-items: center;
}
.stay-safe__media {
	flex: 0 1 50%;
}
.stay-safe__content {
	flex: 0 1 50%;
}

/* .stay-safe__block-text {
} */
.media-stay-safe {
	width: 373px;
	padding: 56px 0px 27px 0px;
	text-align: center;
	position: relative;
}
.media-stay-safe__image {
	display: inline-block;
	box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
	border-radius: 16px;
	position: relative;
	width: auto;
}
.media-stay-safe__image img {
	position: relative;
	z-index: 5;
	max-width: 100%;
}
.media-stay-safe__image::after {
	content: "";
	position: absolute;
	width: 206px;
	bottom: -12px;
	height: 27px;
	left: 12px;
	background: rgba(240, 240, 240, 0.49);
	border-radius: 16px;
}
.media-stay-safe__item {
	position: absolute;
	background-color: #ec5863;
	border-radius: 30px;
	width: 77px;
	height: 77px;
}
.media-stay-safe__item-1 {
	top: 0px;
	left: 0px;
	width: 147px;
	height: 147px;
}

.media-stay-safe__item-2 {
	bottom: 0px;
	left: 33px;
}

.media-stay-safe__item-3 {
	bottom: 107px;
	right: 34px;
}

@media (min-width: 991.98px) {
	.stay-safe {
		padding: 40px 0px 0px 0px;
	}
}
@media (min-width: 991.98px) {
	.stay-safe {
		padding: 40px 0px 40px 0px;
	}
	.stay-safe__media {
		padding: 0px 0px 0px 47px;
	}
}
@media (max-width: 767.98px) {
	.stay-safe {
		padding: 20px 0px 80px 0px;
	}
	.stay-safe__container {
		flex-direction: column-reverse;
	}
	.stay-safe__content {
		margin: 0px 0px 30px 0px;
	}
	.media-stay-safe {
		width: 290px;
	}
}
@media (max-width: 479.98px) {
	.media-stay-safe__image {
		width: 61.5%;
	}
}

/* ============================Третий экран *experts*==================================== */

.experts {
	background-color: #fafbfd;
	padding: 103px 0px 116px 0px;
}
.experts__statistics {
}

.statistics-experts {
	max-width: 655px;
	margin: 0 auto;
	position: relative;
}
.experts__body {
	display: flex;
	align-items: center;
}
.experts__content {
	flex: 0 1 50%;
	padding: 0px 20px 0px 20px;
}
.experts__video {
	flex: 0 1 50%;
	padding: 0px 0px 30% 0px;
	position: relative;
	overflow: hidden;
}
.experts__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	border-radius: 8px;
}

.statistics-experts__body {
	background: #ffffff;
	box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
	border-radius: 16px;
	position: relative;
	z-index: 5;
	margin: 0px 0px 80px 0px;
}
.statistics-experts__decor {
	position: absolute;
	border-radius: 30px;
	background: #ec5863;
}
.statistics-experts__decor-1 {
	width: 66px;
	height: 66px;
	border-radius: 16px;
	transform: rotate(-30deg);
	bottom: -31px;
	left: -31px;
}
.statistics-experts__decor-2 {
	width: 97px;
	height: 97px;
	transform: rotate(105deg);
	top: -40px;
	right: 50%;
}
.statistics-experts__decor-3 {
	width: 127px;
	height: 127px;
	transform: rotate(-30deg);
	top: 0px;
	right: -50px;
}
.body-statistics-experts {
	padding: 28px 80px 28px 80px;
	display: flex;
	align-items: center;
}

.body-statistics-experts__item {
	flex: 0 1 25%;
	text-align: center;
}
.body-statistics-experts__item:last-child {
	flex: 0 1 50%;
}

.body-statistics-experts__value {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(43 / 36 * 100%);
	letter-spacing: 1px;
	color: #ec5863;
}
.body-statistics-experts__value:not(:last-child) {
	margin: 0px 0px 5px 0px;
}

.body-statistics-experts__text {
	font-weight: 700;
	font-size: 11px;
	line-height: calc(13 / 11 * 100%);
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000000;
}
.experts__block-text {
	max-width: 400px;
}

@media (max-width: 991.98px) {
	.experts {
		padding: 80px 0px 50px 0px;
	}
}

@media (max-width: 767.98px) {
	.experts {
		padding: 80px 0px 30px 0px;
	}
	.experts__body {
		flex-direction: column;
		align-items: stretch;
	}
	.experts__video {
		padding: 0px 0px 58% 0px;
	}
	.experts__content {
		padding: 0px 0px 0px 0px;
		margin-bottom: 30px;
	}
	.statistics-experts__body {
		margin: 0px 0px 50px 0px;
	}
	.body-statistics-experts {
		padding: 25px 25px 25px 25px;
	}
}
@media (max-width: 469.98px) {
	.body-statistics-experts {
		flex-direction: column;
	}
	.body-statistics-experts__item:not(:last-child) {
		margin: 0px 0px 15px 0px;
	}
}

/* ============================ Четвёртый экран *healthcare*==================================== */

.healthcare {
	padding: 80px 0px 30px 0px;
}

.healthcare__container {
}

.healthcare__block-text {
	margin: 0px 0px 45px 0px;
}

.healthcare__items {
	max-width: 980px;
	display: flex;
	margin: 0 auto;
	gap: 72px;
}
.healthcare__column {
	position: relative;
	flex: 0 1 33.333%;
}

.healthcare__item {
}

.item-healthcare {
	height: 100%;
	position: relative;
	z-index: 2;
	padding: 36px 17px 36px 17px;
	background: #ffffff;
	box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-healthcare-icon {
	margin: 0px 0px 58px 0px;
}

.item-healthcare-title {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(22 / 16 * 100%);
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
	margin: 0px 0px 4px 0px;
}

.item-healthcare-text {
	font-weight: normal;
	font-size: 12px;
	line-height: calc(17 / 12 * 100%);
	text-align: center;
	letter-spacing: 2px;
	color: #616161;
}

.healthcare__column-1::before,
.healthcare__column-1::after,
.healthcare__column-2::after,
.healthcare__column-3::after {
	content: "";
	position: absolute;
	background-color: #ec5863;
}

.healthcare__column-1::before {
	width: 65px;
	height: 65px;
	bottom: -20px;
	left: -25px;
	border-radius: 16px;
	transform: rotate(30deg);
}
.healthcare__column-1::after {
	width: 97px;
	height: 97px;
	right: -48px;
	top: 48px;
	border-radius: 30px;
	transform: rotate(105deg);
}

.healthcare__column-2::after {
	width: 127px;
	height: 127px;
	right: -80px;
	top: 158px;
	border-radius: 30px;
	transform: rotate(-30deg);
}
.healthcare__column-3::after {
	width: 66px;
	height: 66px;
	right: -25px;
	top: -30px;
	border-radius: 16px;
	transform: rotate(-30deg);
}

@media (max-width: 1087px) {
	.healthcare__items {
		gap: 15px;
	}
}
@media (max-width: 991.98px) {
	.healthcare {
		padding: 30px 0px 30px 0px;
	}
	.healthcare__items {
		flex-direction: column;
	}
	.healthcare__column-3::after {
		left: -25px;
		top: 100px;
	}
}

/* ============================ Подвал *footer*==================================== */
.footer {
	padding: 30px 0px 45px 0px;
}

.footer__items {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 55px;
}

.footer__item {
}

@media (max-width: 500px) {
	.footer {
		padding: 15px 0px 30px 0px;
	}
	.footer__items {
		flex-direction: column;
		gap: 15px;
	}
}
